* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: ;
}
body {
  background-image: url(./assets/images/background-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 100% 50%;
}
.main-content {
  display: flex;
  height: 100vh;
  width: 100%;
}
.content-left-sec {
  width: 50%;
  background-color: aliceblue;
}
/* content-right sec */
.content-right-sec {
  width: 50%;
  height: 100%;
  background-color: aqua;
}

.form-container {
  width: 350px;
  height: 400px;
  position: absolute;
  top: 160px;
  right: 70px;
  border-radius: 20px;
  overflow: hidden;
}

.form-container .form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-container .form-head {
  width: 100%;
  height: 80px;
  background-color: rgb(39, 39, 38, 0.5);
}

.profiles {
  width: 100%;
  display: flex;
  justify-self: start;
  vertical-align: middle;
  align-items: center;
}

.profiles > div {
  width: 100%;
  height: 100%;
  margin: 10px;
}

.profiles img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  object-fit: cover;
}

.profiles p {
  font-size: 16px;
  font-weight: 500;
  color: #e5e5e5;
  margin-left: -40px;
}

.profile-setting img {
  width: 24px;
  height: 24px;
  float: right;
}
.online-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50px;
  left: 55px;
}
.online-icon img {
  width: 20px;
  height: 20px;
}

.form-main {
  height: 240px;
  background-color: rgba(119, 88, 30, 0.4);
}

.form-main input {
  padding: 8px 20px;
  margin-top: 15px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
}

.form-main input::placeholder {
  color: #e5e5e5;
}

.rec-chats {
  width: 65%;
  height: 35px;
  margin-top: 5px;
  background-color: rgba(61, 43, 15, 0.4);
}

.send-chat {
  float: right;
  margin-right: 10px;
  text-align: left;
  background-color: rgba(205, 205, 195, 0.5);
}

.send-chat > input::placeholder {
  color: #333232;
}

.chat-footer {
  width: 100%;
  height: 80px;
  background-color: rgba(112, 112, 112, 0.2);
  border-top: 1px solid rgb(93, 93, 93);
}

.chat-footer input {
  width: 92%;
  padding: 12px 20px;
  margin: 18px 15px 5px;
  border-radius: 30px;
  border: none;
  background-color: rgba(32, 32, 32, 0.5);
}

.chat-footer input::placeholder {
  color: #e5e5e5;
}

.chat-footer img {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 300px;
  top: 350px;
  z-index: 1;
  color: #ffffff;
}
