@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: url(./assets/images/background-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 100%;
}
/* overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(80, 82, 82, 0.4);
  z-index: 0;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 2;
}

/* LEFT SIDE — Chat Form */
.content-left-sec {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(41, 38, 38, 0.2);
  z-index: 1000;
}

/* Chat Form Box */
.form-container {
  width: 350px;
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.form-container .form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-container .form-head {
  width: 100%;
  height: 80px;
  background-color: rgb(39, 39, 38, 0.5);
}

.profiles {
  width: 100%;
  display: flex;
  justify-self: start;
  vertical-align: middle;
  align-items: center;
}

.profiles > div {
  width: 100%;
  height: 100%;
  margin: 10px;
}

.profiles img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  object-fit: cover;
}

.profiles p {
  font-size: 16px;
  font-weight: 500;
  color: #e5e5e5;
  margin-left: -40px;
}

.profile-setting img {
  width: 24px;
  height: 24px;
  float: right;
}
.online-icon {
  width: 20px;
  height: 20px;
  position: relative;
  top: -25px;
  left: 40px;
}
.online-icon img {
  width: 20px;
  height: 20px;
}

.form-main {
  height: 240px;
  background-color: rgba(147, 121, 71, 0.4);
}

.form-main input {
  padding: 8px 20px;
  margin-top: 15px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
}

.form-main input::placeholder {
  color: #e5e5e5;
}

.rec-chats {
  width: 65%;
  height: 35px;
  margin-top: 5px;
  background-color: rgba(61, 43, 15, 0.4);
}

.send-chat {
  float: right;
  margin-right: 10px;
  text-align: left;
  background-color: rgba(205, 205, 195, 0.5);
}

.send-chat > input::placeholder {
  color: #333232;
}

.chat-footer {
  width: 100%;
  height: 80px;
  background-color: rgba(112, 112, 112, 0.2);
  border-top: 1px solid rgb(93, 93, 93);
}

.chat-footer input {
  width: 92%;
  padding: 12px 20px;
  margin: 18px 15px 5px;
  border-radius: 30px;
  border: none;
  background-color: rgba(32, 32, 32, 0.5);
}

.chat-footer input::placeholder {
  color: #e5e5e5;
}

.chat-footer img {
  width: 18px;
  height: 18px;
  position: relative;
  top: -35px;
  left: 300px;
  z-index: 1;
  color: #ffffff;
}
.profile-setting img {
  position: relative;
  top: -10px;
}
/* RIGHT SIDE — Features Section */
.content-right-sec {
  width: 60%;
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: transparent;
  align-items: center;
  padding: 20px;
  position: relative;
  overflow: hidden;
  z-index: 100;
}
.backBtn{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;

}

.chatDong {
  width: 100%;
  margin: auto;
}
.chatDong h1 {
  color: #fff;
  margin-bottom: 40px;
  font-size: 36px;
}

.chatDong p {
  color: #b4b4b4;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.6;
}
